@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --cor-principal:#4E0980;
    --cor1:#b2a7b8;
    --cor2:#7e7383;
    --cor3:#780000;
    --cor4:#b4330d;
    --preto: #000000;
    --branco: #ffffff;
}
body {
    font-size: 1rem;
    font-family: 'Arsenal SC'; /*o nome da fonte*/
}

#contato {
    background: var(--cor-principal);
    background-size: cover;
    padding: 4rem 0;
}

.formulario {
    background-color: var(--branco);
 padding: 2rem; 
 border-radios: 10px;
 box-shadow: 0 0 10px #780000(0,0,0,0,1) ;
 font-weight: bold;
}
.formulario button{
    background-color: var(--cor3);
    border: none;
    font-weight: bold;
}
.form-control {
    background-color: var(--cor2);
}

section {
    padding-bottom: 5rem;
}

.display-4 {
    text-shadow: -5px 5px var(--cor3)
}

#nemlembro {
 position: relative;
paddin-top: 5rem;
margin-top: 3rem;
background: var(--cor1);
background-size: 180px 180px;   
}
#tamd .container{
 display: flex;
 align-items: center;

}